DB_TYPE=postgresql
DB_DRIVER_CLASS_NAME=org.postgresql.Driver
DB_URL=jdbc:postgresql://<supabase-host>:5432/postgres?sslmode=require&currentSchema=ot_nanjing
DB_USERNAME=<project-runtime-db-role>
DB_PASSWORD=<database-password>
APP_CONTEXT_PATH=/springboot655ms
BAIDU_APP_ID=
BAIDU_API_KEY=
BAIDU_SECRET_KEY=
